.chat-main
  .group-info
    .group-info__box
      .group-info__box__group-name
        = @group.name
      .group-info__box__member
        - @group.users. each do |user|
          = user.name
    .group-info__edit-button
      = link_to edit_group_path(@group.id), class:"button-style" do
        Edit 
  .message-list
    .message-list__box
      =render @messages
    
  .message-form
    .message-form__input-box 
      = form_for [@group, @message] do |f|
        .message-form__input-box__text
          = f.text_field :content, class: 'message-form__message', placeholder: 'type a message', remote: true
          .message-form__input-box__image
            = f.label :image, class: 'message-form__mask' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'message-form__mask__file'
            = f.submit 'Send', class: 'message-form__send-btn'