.chat-main
  .group-info
    .group-info__box
      .group-info__box__group-name
        = @group.name
      .group-info__box__member
        - @group.users. each do |user|
          = user.name
    .group-info__edit-button
      = link_to edit_group_path(@group.id), class:"button-style" do
        Edit 
  .message-list
    .message-list__box
      .message-list__box-top
        .message-list__box-top__name
          =render @messages
    
  .message-form
    .message-form__input-box
      .message-form__input-box__text
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'text-era', placeholder: 'type a message'
          .message-form__input-box__image
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
              = f.submit 'Send', class: 'form__submit-btn'
          